
# Development and debug scripts
dev-*.R
debug*.R
todo*
DEV.R

# Data files and caches
trialmaster*.rds
*quicktest*
*cache*
*nogit*
*local*

# R session and project files
.RData
.Rproj.user
.Rhistory
.Rprofile

# Documentation and metadata folders
Meta/
doc/
docs/
inst/doc/
.quarto/
